<template>
  <v-col xs="12" md="4">
    <v-card class="pa-3 rounded" outlined>
      <v-row>
        <v-col xs="12">
          <v-btn small fab icon mr-0 nuxt to="/">
            <v-icon>mdi-arrow-left</v-icon> </v-btn
          >Back
        </v-col>
      </v-row>
      <v-card-text>
        <h1 class="display-1 mb-3">Login</h1>
        <v-form @submit.prevent="login">
          <v-text-field
            v-model="username"
            :rules="usernameRules"
            label="Username"
            outlined
            rounded
            required
          />
          <v-text-field
            v-model="password"
            :rules="passwordRules"
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            @click:append="showPassword = !showPassword"
            :type="showPassword ? 'text' : 'password'"
            hint="At least 8 characters"
            label="Password"
            outlined
            rounded
            required
          />
          <v-row ma-2 wrap>
            <v-col>
              <nuxt-link to="/auth/register">Don't have an account?</nuxt-link>
            </v-col>
            <v-col cols="auto">
              <nuxt-link to="/auth/forgot">Forgot Password?</nuxt-link>
            </v-col>
          </v-row>

          <v-row>
            <v-col xs="12">
              <v-btn
                :loading="loading"
                type="submit"
                rounded
                large
                block
                color="primary"
                >Login</v-btn
              >
            </v-col>
          </v-row>

          <v-row align-center>
            <v-col v-show="false" cols="8" offset="4">
              <v-btn small fab icon class="facebook-color">
                <v-icon>mdi-facebook</v-icon>
              </v-btn>
              <v-btn small fab icon class="google-color">
                <v-icon>mdi-google</v-icon>
              </v-btn>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
    </v-card>
  </v-col>
</template>

<script>
export default {
  layout: 'auth',
  auth: 'guest',
  data() {
    return {
      loading: false,
      remember: true,
      username: '',
      usernameRules: [(v) => !!v || 'Username is required'],
      password: '',
      passwordRules: [(v) => !!v || 'Password is required'],
      showPassword: false
    }
  },
  methods: {
    login() {
      if (this.loading) {
        return
      }
      if (this.username === '' || this.password == '') {
        this.$toast.failed('Please fill up your credentials')
        return
      }
      this.loading = true
      this.$auth
        .loginWith('local', {
          data: {
            username: this.username,
            password: this.password
          }
        })
        .then((response) => {
          this.$toast.success('Login Successful!')
          this.$router.replace('/')
        })
        .catch((err, res) => {
          this.$toast.failed('Wrong Password of Username')
          console.log(err)
        })
        .finally(() => {
          this.loading = false
        })
    }
  }
}
</script>
