<template>
  <v-col xs="12" md="4">
    <v-card class="pa-3 rounded" outlined>
      <v-card-text>
        <h1 class="display-1 mb-3">Register</h1>
        <v-text-field
          v-model="name"
          :rules="required"
          :error-messages="errors.name"
          label="Name"
          outlined
          rounded
          required
        />
        <v-text-field
          v-model="username"
          :rules="required"
          :error-messages="errors.username"
          label="Username"
          outlined
          rounded
          equired
        />
        <v-text-field
          v-model="email"
          :rules="emailRules"
          :error-messages="errors.email"
          label="Email"
          outlined
          rounded
          required
        />
        <v-text-field
          v-model="password"
          :rules="passwordRules"
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          @click:append="showPassword = !showPassword"
          :type="showPassword ? 'text' : 'password'"
          :error-messages="errors.password"
          hint="At least 8 characters"
          label="Password"
          outlined
          rounded
          required
        />

        <v-row ma-2 wrap>
          <v-col>
            <nuxt-link to="/auth/login">Already have an account?</nuxt-link>
          </v-col>
          <v-col cols="auto">
            <nuxt-link to="/auth/forgot">Forgot Password?</nuxt-link>
          </v-col>
        </v-row>

        <v-row>
          <v-col xs="12">
            <v-btn
              @click="register"
              :loading="loading"
              rounded
              large
              block
              color="primary"
              >Register</v-btn
            >
          </v-col>
        </v-row>

        <v-row v-show="false" align-center>
          <v-col cols="8" offset="4">
            <v-btn small fab icon class="facebook-color">
              <v-icon>mdi-facebook</v-icon>
            </v-btn>
            <v-btn small fab icon class="google-color">
              <v-icon>mdi-google</v-icon>
            </v-btn>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-col>
</template>

<script>
export default {
  layout: 'auth',
  auth: 'guest',
  data() {
    return {
      loading: false,
      errors: {},
      email: '',
      name: '',
      username: '',
      required: [(v) => !!v || 'This field is required'],
      emailRules: [
        (v) => !!v || 'E-mail is required',
        (v) => /.+@.+/.test(v) || 'E-mail must be valid'
      ],
      password: '',
      passwordRules: [(v) => !!v || 'Password is required'],
      showPassword: false
    }
  },
  methods: {
    register() {
      this.loading = true
      const { name, email, username, password } = this
      this.$axios
        .$post('/auth/register', { name, email, username, password })
        .then((response) => {
          this.$toast.success('You have been registered! Please login now')
          this.$router.replace('/auth/login')
        })
        .catch((err) => {
          this.$toast.failed('Sorry! We could not create your account!')
          this.errors = err.response.data.errors
        })
        .finally(() => {
          this.loading = false
        })
    }
  }
}
</script>
