<template>
  <v-app dark>
    <v-navigation-drawer v-model="drawer" clipped fixed app>
      <sidebar />
    </v-navigation-drawer>
    <v-app-bar clipped-left fixed elevation="1" app>
      <v-toolbar-title v-text="title" />
      <v-spacer />
      <v-btn icon>
        <v-icon>mdi-bell</v-icon>
      </v-btn>
      <v-menu offset-y>
        <template v-slot:activator="{ on }">
          <v-btn icon v-on="on">
            <v-icon>mdi-account</v-icon>
          </v-btn>
        </template>
        <v-list>
          <v-list-item nuxt @click="logout">
            <v-list-item-title>Logout</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>
    <v-content class="white">
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <v-footer :fixed="fixed" app>
      <span>&copy; 2019</span>
    </v-footer>
  </v-app>
</template>

<script>
import Sidebar from '../components/Sidebar'
export default {
  components: { Sidebar },
  data() {
    return {
      clipped: true,
      drawer: true,
      fixed: false,
      miniVariant: false,
      title: process.env.NUXT_ENV_TITLE
    }
  },
  methods: {
    logout(){
      this.$auth.logout()
      this.$router.replace('/auth/logout')
    }
  }
}
</script>
