<template>
  <nuxt-link :to="to">
    <v-card
      :color="color"
      :dark="dark"
      flat
      outlined
      class="text-center parent"
      transition="scale-transition"
    >
      <v-card-title :class="fontColor" class="justify-center">
        {{ title }}
      </v-card-title>
      <v-card-text :class="fontColor" class="display-2">
        <slot />
      </v-card-text>
    </v-card>
  </nuxt-link>
</template>

<script>
export default {
  name: 'InfoCard',
  props: {
    to: {
      default: ''
    },
    title: {
      type: String,
      default: undefined,
      required: false
    },
    icon: {
      type: String,
      default: undefined,
      required: false
    },
    color: {
      type: String,
      default: 'white'
    },
    dark: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    fontColor() {
      if (!this.dark) {
        return 'black--text'
      }
      return 'white--text'
    },
    footerColor() {
      const amt = 20
      const col = this.color.slice(1)
      const num = parseInt(col, 16)
      let r = (num >> 16) - amt
      if (r > 255) r = 255
      else if (r < 0) r = 0
      let b = ((num >> 8) & 0x00ff) - amt
      if (b > 255) b = 255
      else if (b < 0) b = 0
      let g = (num & 0x0000ff) - amt
      if (g > 255) g = 255
      else if (g < 0) g = 0
      return '#' + (g | (b << 8) | (r << 16)).toString(16)
    }
  },
  mounted() {
  }
}
</script>

<style scoped>
.parent {
  margin-top: 1em;
}
a {
  text-decoration: none;
}
</style>
