<template>
  <v-card shaped dark color="pink lighten-1">
    <v-row>
      <v-col cols="6" class="text-center half">
        <v-icon size="5em">mdi-earth</v-icon>
      </v-col>

      <v-col cols="6" class="text-center">
        <span class="display-3">7</span><br />
        <span class="subheader gray--text">Websites</span>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
  export default {
    name: 'ShapeCard'
  }
</script>

<style scoped>

</style>
