<template>
  <v-list shaped>
    <v-subheader>REPORTS</v-subheader>
    <v-list-item-group color="primary">
      <v-list-item v-for="(item, i) in items" :key="i" :to="item.to">
        <v-list-item-icon>
          <v-icon v-text="item.icon" />
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title v-text="item.text" />
        </v-list-item-content>
      </v-list-item>
    </v-list-item-group>
  </v-list>
</template>

<script>
export default {
  name: 'Sidebar',
  data() {
    return {
      items: [
        { text: 'Dashboard', icon: 'mdi-view-dashboard', to: '/' },
        { text: 'Websites', icon: 'mdi-earth', to: '/websites' },
        { text: 'Databases', icon: 'mdi-database', to: '/databases' }
      ]
    }
  }
}
</script>

<style scoped></style>
