<template>
  <div>
    <h1 class="display-1 font-weight-light mb-4">Dashboard</h1>
    <v-row>
      <v-col sm="12" md="3">
        <info-card to="/websites" color="#F50057" title="Websites">
          <span v-text="websites" class="display-3 font-weight-light"></span>
        </info-card>
      </v-col>
      <v-col sm="12" md="3">
        <info-card
          title="Databases"
          icon="database"
          to="/databases"
          color="#7E47A2"
        >
          <span v-text="databases" class="display-3 font-weight-light"></span>
        </info-card>
      </v-col>
      <v-col sm="12" md="3">
        <info-card title="Visitors" icon="group" color="#2196F3">
          <span class="display-3 font-weight-light">-</span>
        </info-card>
      </v-col>
      <v-col sm="12" md="3">
        <info-card title="Page Served" icon="chart-line" color="#00B0FF">
          <span class="display-3 font-weight-light">-</span>
        </info-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import InfoCard from '../components/InfoCard'

export default {
  middleware: 'auth',
  components: {
    InfoCard
  },
  computed: {
    ...mapState('dashboard', ['websites', 'databases'])
  },
  created() {
    this.$store.dispatch('dashboard/refresh')
  }
}
</script>

<style>
.half {
  border-right: 1px solid gray;
}
a {
  text-decoration: none;
}
</style>
