<template>
  <v-row>
    <v-col sm="12" md="9">
      <h1 class="display-2 font-weight-light">Databases</h1>
    </v-col>
    <v-col sm="12" md="3">
      <v-btn disabled color="info" to="/websites/create">Create</v-btn>
    </v-col>
    <v-col cols="12">
      <v-row>
        <v-col cols="3" v-for="database in databases" :key="database.name">
          <v-card class="rounded" outlined>
            <v-card-title>
              {{ database.name }}
            </v-card-title>
            <v-card-text>
              User: <span class="font-weight-bold">{{ database.users[0].username }}</span><br>
              Permissions: {{ database.users[0].permissions.join(', ') }}<br>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'Index',
  created() {
    this.$store.dispatch('database/refresh')
  },
  computed: {
    ...mapState('database', ['databases'])
  }
}
</script>

<style scoped></style>
