<template>
  <v-row>
    <v-col sm="12" md="7" offset-md="2">
      <h1 class="display-1 mb-4 font-weight-light">Create Website</h1>
      <v-form @submit.prevent="create">
        <v-text-field
          v-model="website.name"
          label="Website Name"
          outlined
          rounded
        />
        <v-text-field
          v-model="website.domain"
          label="Subdomain"
          prefix="https://"
          suffix=".served.tech"
          outlined
          rounded
        />
        <v-text-field
          v-model="website.admin_user"
          label="WP Admin Username"
          outlined
          rounded
        />
        <v-text-field
          v-model="website.admin_pass"
          label="WP Admin Password"
          outlined
          rounded
        />
        <v-btn :loading="loading" large rounded class="primary" type="submit">
          Create
          <v-icon right dark>mdi-send</v-icon>
        </v-btn>
      </v-form>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'CreateWebsite',
  data() {
    return {
      loading: false,
      website: {
        name: '',
        domain: '',
        admin_user: '',
        admin_pass: '',
        subdomain: true
      }
    }
  },
  methods: {
    create() {
      this.loading = true
      this.$store
        .dispatch('website/create', this.website)
        .then(() => {
          console.log('create request change route')
          this.$router.push('/websites')
        })
        .catch((err) => {
          console.log(err)
        })
        .finally(() => {
          this.loading = false
          console.log('create request finally')
        })
    }
  }
}
</script>

<style scoped></style>
