<template>
  <v-row>
    <v-col sm="12" md="9">
      <h1 class="display-2 font-weight-light">Websites</h1>
    </v-col>
    <v-col sm="12" md="3">
      <v-btn color="info" to="/websites/create">Create</v-btn>
    </v-col>
    <v-col cols="12">
      <v-row>
        <v-col cols="3" v-for="website in websites" :key="website.domain">
          <v-card class="rounded" outlined>
            <v-card-title>
              <a :href="`https://${website.domain}`" target="_blank">{{ website.name }}</a>
            </v-card-title>
            <v-card-text>
              Name: {{ website.name }}<br>
              Domain: {{ website.domain }}<br>
              Created: {{ website.created }}<br>
              Status:
              <span
                :class="{
                  'green--text': website.status === 'Live',
                  'yellow--text': website.status !== 'Live'
                }"
                class="font-weight-bold"
                >{{ website.status }}</span
              >
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import InfoCard from '../../components/InfoCard'
import { mapState } from 'vuex'

export default {
  name: 'IndexVue',
  middleware: 'auth',
  components: {
    InfoCard
  },
  computed: {
    ...mapState('website', ['websites'])
  },
  mounted() {
    this.$store.dispatch('website/refresh')
  }
}
</script>

<style scoped></style>
